{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block Title %} Upload .xls Files{% endblock %}

{% block content %}
    <div class="container pt-5">
        <div class="card">
            <h5 class="card-header">File input</h5>
            <div class="card-body">
                <form action="{% url 'upload_xls' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="formFile" class="form-label"></label>
                        <input class="form-control" type="file" id="formFile" name="uploadFile"/>
                    </div>
                    <div>
                        <label for="defaultFormControlInput" class="form-label">Name File</label>
                        <input
                                type="text"
                                class="form-control"
                                id="defaultFormControlInput"
                                name="titleFile"
                                placeholder="File Name"
                                aria-describedby="defaultFormControlHelp"
                        />
                        <div id="defaultFormControlHelp" class="form-text">
                            We'll never share your details with anyone else.
                        </div>
                    </div>
                    <div class="mt-lg-2">
                        <button type="submit" class="btn btn-primary">Upload File</button>
                    </div>
                </form>
                {% if msg %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        {{ msg }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            </div>


            <div class="card mt-lg-4">
                <h5 class="card-header">List File</h5>
                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                        </thead>
                        <tbody class="table-border-bottom-0">
                        {% for file in documents %}
                            <tr>
                                <td>{{ file.title  }}</td>
                                <td>{{ file.uploadedFile }}</td>
                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

</body>
</html>